.root {
    border-radius: 4px;
    padding: 5px 10px;
}


.s {
    font-size: 14px;
}
.m {
    font-size: 16px;
}
.l {
    font-size: 18px;
}

.prime {
    background-color: white;
    border: 1px solid rgb(10, 4, 65);
}
.second {
    background-color: rgb(10, 4, 65);
    color: white;
}