.root {
  border-radius: 4px;
  margin: 5px;
}

.s {
  font-size: 14px;
}
.m {
  font-size: 16px;
}
.l {
  font-size: 18px;
}

.prime {
  background-color: white;
  border: 1px solid black;
}
.second {
  background-color: darkgray;
  border: 1px solid black;
  color: white;
}
