.root {
    margin: 10px;
}


.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: grey;
}

.link:first-child {
    margin-right: auto;
}
.link:not(:first-child) {
    margin-left: 20px;
}